/*Variables*/
/*Inicio*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Carousel*/
.img-carousel {
  width: 100%;
}

/*Fondo*/
body {
  background-color: #ffffff;
}

.logotipo {
  width: 350px;
  height: auto;
}

/*bootstrap*/
.carousel-galeria {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Flexbox*/
.testimonios-flex {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

article {
  flex: auto;
  text-align: center;
  background-color: #5299cc8f;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  width: 30%;
}

/*Grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  gap: 10px;
  overflow: hidden;
  align-items: center;
}

.titulo {
  font-size: 50px;
  text-align: center;
  grid-column: 1 / 12;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nosotros {
  grid-column: 1/6;
}

.foto1 {
  width: 100%;
  height: auto;
  grid-column: 7 / 12;
}

.seccion2 {
  margin-top: 20px;
}

.nosotros2 {
  grid-column: 7/12;
}

.foto2 {
  width: 100%;
  height: auto;
  grid-column: 1 / 6;
}

.img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  border-radius: 25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.maps {
  position: relative;
  margin-top: 15px;
  padding-bottom: 59.25%;
  height: 0;
  overflow: hidden;
  grid-column: 1/12;
}

.info {
  height: 370px;
  background: linear-gradient(180deg, #fff 50%, #000 50%);
  margin-top: 20px;
}

.items {
  grid-column: 1/-1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 30%;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 245px;
  padding: 20px 10px;
  text-align: center;
  border-radius: 30px;
}

.horarios {
  height: 355px;
}

.cta {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 130px;
  background: #529ACC;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

#negrita {
  font-weight: bold;
}

header {
  width: 100%;
  background-image: linear-gradient(to right, white, #529ACC);
}

@media (max-width: 768px) {
  article {
    width: 100%;
  }
  .logotipo {
    width: auto;
    max-width: 250px;
    height: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto auto auto;
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: auto;
    align-items: center;
  }
  .titulo {
    font-size: 40px;
    text-align: center;
    grid-column: 1 / 12;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .nosotros {
    grid-column: 1/12;
    font-size: 15px;
  }
  .foto1 {
    width: 100%;
    height: auto;
    grid-column: 1 / 12;
  }
  .seccion2 {
    margin-top: 20px;
  }
  .nosotros2 {
    grid-column: 1/12;
    font-size: 15px;
  }
  .foto2 {
    width: 100%;
    height: auto;
    grid-column: 1 / 12;
    grid-row: 2/3;
  }
}

/*Tablas*/
table {
  margin: 20px auto;
  font-family: 'Zilla Slab', serif;
  color: #627A7E;
}

table thead {
  font-family: 'Pacifico', cursive;
}

table thead tr {
  color: #529ACC;
}

table thead tr td {
  padding: 15px 15px;
}

table tbody tr td {
  padding: 10px 5px;
}

/*Tipografia*/
.titulos {
  font-family: 'Pacifico', cursive;
  color: #529ACC;
}

.texto {
  font-family: 'Zilla Slab', serif;
  color: #627A7E;
}

.titulo-item {
  font-family: 'Pacifico', cursive;
  color: #000;
  font-size: 23px;
  margin-bottom: 10px;
}

.contacto p {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  color: #627A7E;
}

.direccion p {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  color: #627A7E;
}

.horarios p {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  color: #627A7E;
}

/*Clases*/
.centrado {
  text-align: center;
}

.separador {
  color: black;
  font-size: 35px;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  grid-column: 1 / 12;
  margin-top: 20px;
}

.contactar {
  color: black;
  font-size: 35px;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  grid-column: 1 / 12;
  margin-top: 10px;
}

.mainDiv {
  margin-top: 45px;
}

/*Formulario*/
.formulario {
  width: 500px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-family: 'Zilla Slab', serif;
}

.enviar {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 20px;
}

.limpiar {
  width: 50%;
  background: #c40303;
  border: none;
  padding: 10px;
  color: white;
  margin: 16px 0;
  font-size: 13px;
}

.controles {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.radio {
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: white;
}

fieldset {
  padding: 20px;
}

fieldset div h1 {
  display: inline-block;
  margin-bottom: 20px;
}

/*Footer*/
footer {
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  color: #fff;
}

.footer-bottom {
  background: #000000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
/*# sourceMappingURL=estilos.css.map */