
.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: $dark-color;
}

.carousel-indicators li {
    background-color: $dark-color;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev { 
    color: $white-color;
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color: $dark-color;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid $dark-color;
    border-radius: 50px;
    font-size: 20px;
}

.carousel-contenedor {
    max-width: 800px;
    margin: 0 auto;
}

.testimonios-user {
    max-width: 240px;
    margin: 0 auto;
}

.testimonios-user h6 {
    margin-bottom: 0px;
    text-align: left;
}

.testimonios-user span {
    font-size: 12px;
}

.testimonios-user img {
    border-radius: 50%;
    max-width: 50px;
}

.rating i {
    color: $gold-color;
    font-size: 26px;
}